@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main,
header {
  max-width: 1300px;
  margin: 0 auto;
}
#hidden {
  display: none;
}

/* Shared Style */
.display-flex {
  display: flex;
}
#primary-color {
  color: rgb(58, 58, 58);
}
.primary-btn {
  background-color: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  padding: 10px 24px 10px 24px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

/* header styles */
.navbar,
.banner-section {
  width: 100%;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  gap: 2rem;
}
.nav-links a {
  text-decoration: none;
}
.nav-links li {
  list-style: none;
}
/* Start your Journey as Influencer */
.banner-section {
  justify-content: space-between;
  align-items: center;
  gap: 133px;
}
.banner-text {
  width: 582px;
  height: 270px;
}
.banner-title {
  font-size: 52px;
  font-weight: 700;
  margin: 16px 0;
}
.banner-subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.banner-img {
  background-image: url("../images/Circle-design.svg");
  width: 475px;
  height: 475px;
}
.banner-img img {
  width: 440px;
  height: 414px;
}
/* company logo styles */
.companys {
  max-width: 1100px;
  height: 110px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 100px;
}

/* popular-collection styles */

.popular-collection-text {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
.popular-collection-card {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.popular-card {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  padding: 16px 14px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  text-align: center;
}
.popular-card-img {
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}
.popular-card-text {
  text-align: left;
}
.popular-card-title {
  font-size: 28px;
  font-weight: 500;
  color: rgb(24, 25, 31);
  margin: 0px;
  margin-bottom: 6px;
}
.money {
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
}

.ratings {
  padding: 0;
  color: orange;
  margin-bottom: 5px;
}
.popular-card-subtitle {
  color: rgb(120, 120, 133);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
  margin-top: 8px;
}
.see-more {
  text-align: right;

  font-size: 16px;
  font-weight: 700;
}
.see-more a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
}
/* Featured products at one place styles */
.feature-section {
  max-width: 1100px;
  margin: 0 auto;
  gap: 90px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.feature-text-title {
  color: rgb(10, 8, 38);
  font-size: 38px;
  font-weight: 700;
  /* full text in one line */
  white-space: nowrap;
  margin-bottom: 1rem;
}
.feature-text-subtitle {
  color: rgb(108, 108, 108);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
}
.btn-feature {
  background-color: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  padding: 10px 24px 10px 24px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

/* Footer style */
.footer {
  max-width: 1440px;
  height: 306px;
  background-color: rgb(10, 8, 38);
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer-text {
  width: 262px;
  height: 139px;
}
.footer-title {
  font-size: 24px;
  font-weight: 700;
}
.footer-subtitle {
  font-size: 14px;
  font-weight: 600;
  /* full text in one line */
  white-space: nowrap;
}
.footer-text a {
  margin-left: 16px;

}

/* Responsive design start  */
/* Mobile device */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .nav-links {
    flex-direction: column;
  }
  .brand {
    padding: 0px;
  }
}
